/* RESET GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #1c1d25;
}

/* HEADER SUPERIOR */
.top-header {
  background-color: #121315;
  color: white;
  font-size: 13px;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-header .left span {
  margin-right: 20px;
}

.top-header .right i {
  margin-left: 15px;
  cursor: pointer;
}

.right a {
  color: white;
  margin-left: 0px;
  text-decoration: none;
  font-size: 14px;
}

.right a:hover {
  color: #0e5292;
}

/* NAVEGACIÓN PRINCIPAL */
.main-nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 80px;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: #0e5292;
}

.logo i {
  margin-right: 10px;
  font-size: 26px;
}

/* MENÚ DE NAVEGACIÓN */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 0px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-menu li {
  height: 100%;
}

.nav-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 16px;
  text-decoration: none;
  color: #1c1d3e;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-menu li a:hover,
.nav-menu li a.active {
  background-color: #0e5292;
  color: white;
  border: none;
  border-radius: 0;
}

/* BOTÓN "SOY CLIENTE" */
.btn-client {
  background-color: #0e5292;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-weight: normal;
  transition: background-color 0.3s ease;
}

.btn-client:hover {
  background-color: #032b4f;
}

/* OPCIONAL: AÑADE ESPACIADO ENTRE SECCIONES MÁS ABAJO */
section {
  padding: 60px 30px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 10%;
  background-color: #dfe6eb;
  flex-wrap: wrap;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #003366;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn-hero {
  background-color: #0077cc;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.btn-hero:hover {
  background-color: #0c528f;
}

.hero-image img {
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* seccion - Sobre Nosotros */
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 110px 10%;
  gap: 50px;
  flex-wrap: wrap;
}

.about-image {
  position: relative;
  flex: 1;
  max-width: 550px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.experience-box {
  background-color: #0c528f;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-radius: 0 0 0px 0px;
  font-size: 1.2rem;
}

.about-content {
  flex: 1;
  max-width: 600px;
}

.about-content h4 {
  color: #0c528f;
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #111;
}

.about-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #444;
}

.btn-video {
  display: inline-flex;
  align-items: center;
  background-color: #e4f6ff;
  color: #111;
  padding: 10px 25px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.btn-video i {
  background-color: #0077cc;
  color: white;
  border-radius: 50%;
  padding: 8px;
  margin-right: 10px;
}

.btn-video:hover {
  background-color: #cdddf0;
}


/*Seccion Fomulario*/
.quote-section {
  background-color: #efefef;
  padding: 0px 10%;
}

.quote-container {
  display: flex;
  align-items: stretch;
  gap: 50px;
}

.quote-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px; /* espacio entre texto y formulario */
}

.quote-info h4 {
  color: #0c528f;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.quote-info h2 {
  font-size: 2.1rem;
  color: #003366;
  margin-bottom: 20px;
}

.quote-info p {
  color: #333;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.quote-stats {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.quote-stats div h3 {
  font-size: 2rem;
  color: #0e5292;
}

.quote-stats div p {
  font-size: 0.95rem;
  color: #242529;
  margin-top: 5px;
  font-weight: bold;
}

.quote-form {
  background-color: #0e5292;
  padding: 60px 40px;
  border-radius: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  max-width: 500px; /* Limita el ancho para que no se vaya al borde */
}

.quote-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quote-form input,
.quote-form select,
.quote-form textarea {
  padding: 10px;
  border: none;
  border-radius: 0px;
  font-size: 0.95rem;
  font-family: inherit; /* Hereda la fuente del body o html */
}

.quote-form textarea {
  resize: vertical;
}

.quote-form button {
  background-color: #1f222c;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  font-weight: normal;
}

.quote-form button:hover {
  background-color: #000000;
}

/* Seccion de servicios */
.services-section {
  text-align: center;
  padding: 80px 10%;
  background-color: #f9f9f9;
}

.section-header h4 {
  color: #0c528f;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.section-header h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1c1d25;
  margin-bottom: 50px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.service-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service-top {
  background-color: #0e5292;
  color: #ffffff;
  padding: 20px;
  border-radius: 6px 6px 0 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.1rem;
}

.service-top i {
  font-size: 1.5rem;
}

.service-card p {
  font-size: 0.95rem;
  color: #555;
  margin: 20px 0;
  line-height: 1.6;
}

.service-card a {
  color: #0e5292;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.service-card a::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0e5292;
  margin-top: 5px;
}

/* Seccion de porque elegirnos */
.why-us-section {
  background-color: #efefef;
  padding: 0px 0;
  font-family: 'Poppins', sans-serif;
  
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: auto;
}

.why-us-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.why-us-image {
  flex: 1 1 20%; /* Imagen ocupa menos espacio horizontal */
  display: flex;
  justify-content: flex-end; /* Alineada a la derecha del contenedor de imagen */
}

.why-us-image img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 500px; /* Limita la altura sin distorsionar */
}

.why-us-text {
  flex: 1 1 45%;
}

.why-us-text h5 {
  color: #0c528f;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.why-us-text h2 {
  font-size: 32px;
  font-weight: 700;
  color: #1e1e2f;
  margin-bottom: 20px;
}

.why-us-text p {
  font-size: 16px;
  color: #2b2b2b;
  margin-bottom: 25px;
  line-height: 1.6;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.features li {
  font-size: 16px;
  margin-bottom: 10px;
  color: #2b2b2b;
}

.features li i {
  color: #0c528f;
  margin-right: 10px;
}

.btn-primary {
  background-color: #0c528f;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: #002343;
}

/*Seccion Equipo detrabajo*/
.team-section {
  text-align: center;
  padding: 60px 20px;
  background-color: #fff;
}

.subheading {
  color: #0c528f;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 40px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-member {
  width: 250px;
  background-color: #f4f4f4;
  border-bottom: 5px solid #0c528f;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.team-member img {
  width: 100%;
  height: auto;
  display: block;
}

.member-info {
  background-color: #f4f4f4;
  padding: 20px;
  z-index: 1;
  position: relative;
}

.member-info h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
}

.member-info p {
  margin: 5px 0 0;
  color: #666;
}

/* Overlay inicialmente oculto */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: #0c528f;
  overflow: hidden;
  transition: height 0.3s ease;
  z-index: 2;
}

/* Al hacer hover: sube desde la línea naranja y cubre solo los textos */
.team-member:hover .overlay {
  height: 80px; /* solo la altura del bloque de texto */
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 20px;
  color: white;
  font-size: 20px;
}

.social-icons a {
  color: white;
  font-size: 20px;
  transition: transform 0.3s, color 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.social-icons a:hover {
  color: #1a1a1a;
  transform: scale(1.2);
}

/* pie de pagina*/
.footer {
  background-color: #141417;
  color: #fff;
  padding: 60px 30px 30px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.footer-column {
  flex: 1 1 300px;
  padding: 30px 40px; /* ↑↓ aumenta este valor para dar más altura */
}

.footer h3 {
  color: #dcdcdc;
  margin-bottom: 20px;
  font-size: 23px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 10px;
  color: #ddd;
}

.footer ul li i {
  margin-right: 10px;
  color: #f2f2f2;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-socials a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  transition: 0.3s;
}

.footer-socials a:hover {
  background: #0c528f;
  border-color: #0c528f;
}

.newsletter-form {
  display: flex;
  margin-top: 15px;

}

.newsletter-form input {
  flex: 1;
  padding: 20px 20px 20px 20px; /* top, right, bottom, left */
  border: none;
  outline: none;
  font-size: 16px;
  text-align: left; /* <-- por si acaso */
    min-width: 300px;
}

.newsletter-form button {
  background-color: #0c528f;
  color: rgb(233, 233, 233);
  border: none;
  padding: 12px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.newsletter-form button:hover {
  background-color: #043057;
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #333;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  background-color: #141417;
  margin-left: 40px;
}

.footer-bottom .site-name {
  color: #ffffff;
}

.footer-bottom .footer-links a {
  margin-left: 0px;
  color: #ddd;
  text-decoration: none;
  margin-right: 40px;
  font-weight: normal;
  font-size: 16px;
}

.footer-bottom .footer-links a:hover {
  text-decoration: underline;
}

